* {
  box-sizing: border-box;
}


body {
  font-family: 'Roboto', sans-serif;
  max-width: 980px;
  margin: 0 auto;
  background-color:  #2A2929;
  
}

h1 {
  margin-bottom: 0px;
}

.hidden {
  display: none;
}

main {
  margin: 0px;
  padding: 0px;
  background-color: #3B3B3B;
}
button, input[type="text"] {
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

.bookmark-list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly
}
.bookmark-list > li {
  margin-bottom: 20px;
  padding: 20px;
  background-color: lemonchiffon;
  max-width: 100%;
  box-shadow: 5px 10px #2A2929;
}

.bookmark-title-container {
  width: 100%;
  margin: 0;
  padding: 0;
}
.bookmark-title {
  text-decoration: lightslategrey;
  font-size: large;
  max-width: 100%;

}

.bookmark-title-container:hover {
  cursor: pointer;
}

.bookmark-rating {
  text-decoration: lightslategrey;
  font-size: large;
  text-align: left;
}

#js-bookmark-list-form {
  display: none;
}

.bookmark-list-controls{
  display: -webkit-inline-flex;
  align-content: flex-end;
}

