* {
  box-sizing: border-box;
}


body {
  font-family: 'Roboto', sans-serif;

}

main {
  max-width: 600px;

}

button, input[type="text"] {
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

.bookmark-list {
  list-style: none;
  padding-left: 0;
}


